<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.colombianapps.paulino.proyectosmartclass">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_lancherapp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_lancherapp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".MyAlarmReceiver"
            android:process=":remote" />

        <service
            android:name=".MyTestService"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Premain" />
        <activity android:name=".RegistroTareas" />
        <activity android:name=".PersonalizarAsignaturas" />
        <activity android:name=".RegistroAsignaturas" />
        <activity android:name=".EliminarAsignaturas" />
        <activity android:name=".EliminarTareas" />
        <activity android:name=".PersonalizarAnotaciones" />
        <activity android:name=".RegistroAnotaciones" />
        <activity android:name=".EliminarAnotaciones" />
    </application>

</manifest>